<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigationdrawerfragments">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.movies.TheRingActivity"/>
        <activity android:name=".activity.movies.DevilAllTheTimeActivity"/>
        <activity android:name=".activity.movies.GhostShipActivity"/>
        <activity android:name=".activity.movies.PeakyActivity"/>
        <activity android:name=".activity.movies.StrangerThingsActivity"/>
        <activity android:name=".activity.playtrailer.PlayTrailerActivity" android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".activity.trendingmovies.TrendingMoviesActivity"/>
        <activity android:name=".activity.addmovie.AddMovieActivity"/>
        <activity android:name=".activity.movies.AliveActivity"/>
        <activity android:name=".activity.movies.ITActivity"/>
        <activity android:name=".activity.updatemovie.UpdateMovieActivity"/>







    </application>

</manifest>